.header--container {
  background: white;
  box-shadow: 0 0 3px 2px hsla(0, 0%, 20%, .3);
}

.header {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}

.header--logo {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}